
@{
    ViewBag.Titel = "الفئات";
}

<form>
    <div class="input-group mb-3">
        <input style="display:none" id="hidnId" value="" />
        <input id="Name" class="form-control" placeholder="اسم الفئة..." />
        <hr />
        <small id="NameError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون اسم</small>
        <div class="input-group-append">
            <button onclick="AddClass()" id="add" type="button" class="btn btn-primary">اضافة فئة جديدة</button>
            <button onclick="updateClass()" id="edit" style="display:none" type="button" class="btn btn-primary">تعديل</button>
        </div>
    </div>
</form>

<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">

            <th>اسم الفئة</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="Data">
    </tbody>
</table>

<script>
    $(document).ready(function () {

        LoadALLClass();

    });
    function LoadALLClass() {
        $.ajax({
            url: "/Game/GetAllClass",
            type: "GET",

            dataType: "json",
            success: function (result) {

                console.log(result);
                var html = '';
                $.each(result, function (key, item) {
                    debugger;
                    html += ' <tr><td>' + item.className + '</td><td>' +
                        '<a class="btn btn-primary" href="javascript:void(0);" onclick="getClass(' + item.classId + ')">تعديل</a>' +
                        '<a class="btn btn-danger" href="javascript:void(0);" onclick="deletClass(' + item.classId + ')">حذف</a></td> </tr>'
                });

                $("#Data").html(html)

            }


        });
    }
    function AddClass() {

        var Name = $('#Name').val();

        $('.error').hide();
        if (Name == "" || Name == null) {
            $('#NameError').show();
        }

        else {


            $.ajax({
                url: "/Game/AddClass?ClassName=" + Name,
                type: "POST",
                success: function (result) {

                    if (result == true) {
                        swal("تم الحفظ بنجاح", "", "success");
                        $('#Name').val("");

                        LoadALLClass();
                    }
                    else {
                        swal("حدث خطأ", "", "error");
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }

    }
    function getClass(id) {
        console.log(id);
        $.ajax({
            url: "/Game/GetClassById?ClassId=" + id,
            type: "GET",

            dataType: "json",
            success: function (result) {

                console.log(result);
                $('#hidnId').val(id);
                $('#Name').val(result);
                $('#add').hide();
                $('#edit').show();

            }


        });




    }
    function updateClass() {
        var id = $('#hidnId').val();
        var Name = $('#Name').val();
        $.ajax({
            url: "/Game/UpdateClassById?ClassId=" + id + "&ClassName=" + Name,
            type: "POST",

            dataType: 'json',

            success: function (result) {

                if (result == true) {
                    swal("تم الحفظ بنجاح", "", "success");
                    $('#Name').val("");

                    LoadALLClass();
                    $('#add').show();
                    $('#edit').hide();
                }
                else {
                    swal("حدث خطأ", "", "error");
                }
            }
        });
    }
    function deletClass(id) {
        swal({
            title: 'هل انت متأكد؟',
            text: "اذا قمت بمسح هذا لن تستطيع استرجاعه ثانيتا!",
            icon: 'warning',
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/Game/DeletClass?id=" + id,
                        type: "POST",
                        dataType: 'json',
                        success: function (result) {

                            if (result == true) {
                                swal("تم الحذف بنجاح", {
                                    icon: "success",
                                });
                                LoadALLClass();
                            }
                            else {
                                swal("حدث خطا او تم استخدام البيانات من قبل", "", "error");
                            }
                        }
                    });

                }
            });
    }
    </script>


