
@{
    ViewBag.Titel = "المنافاسات";
}


    <form id="" class="">
        <div class="mx-auto text-center my-4">
            <h2 class="my-3">تسجيل منافسة جديدة</h2>
        </div>
        <div class="form-group">
            <input style="display:none" id="hidnId" value="" />
            <label for="text-one">إسم المنافسة</label>
            <input id="Name" class="form-control" placeholder="اسم المنافسة..." />
            <small id="NameError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون اسم</small>
        </div>

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="select-one">المسابقة</label>
                <select class="form-control" id="select-one">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="" for="text-three"> ملاحظات </label>
            <textarea name="" class="form-control" id="Notes" cols="30" rows="5"></textarea>
        </div>
        <button onclick="AddCompetition()" id="add" type="button" class="btn btn-primary">اضافة منافسة جديدة</button>
        <button onclick="updateCompetition()" id="edit" style="display:none" type="button" class="btn btn-primary">تعديل</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
    </form>
<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">

            <th>اسم المنافسة</th>
            <th>اسم السباق</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="Data">
    </tbody>
</table>

<script>
    $(document).ready(function () {
        LoadALLRaces();
        LoadALLCompetition();
        
    });
    function LoadALLRaces() {
        $.ajax({
            url: "/Game/GetAllRace",
            type: "GET",

            dataType: "json",
            success: function (result) {

                console.log(result);
                var html = '<option value="-1">اختر مسابقة</option>';
                $.each(result, function (key, item) {
                    debugger;
                    html += '<option value="' + item.raceId + '">' + item.raceName + '</option>';

                });

                $("#select-one").html(html)

            }


        });
    }
    function LoadALLCompetition() {
        $.ajax({
            url: "/Game/GetAllCompetition",
            type: "GET",

            dataType: "json",
            success: function (result) {

                console.log(result);
                var html = '';
                $.each(result, function (key, item) {
                    var RaceName = item.raceName == null ? "لا يوجد" : item.raceName;
                    html += ' <tr><td>' + item.competitionName + '</td><td>' + RaceName + '</td><td>' +
                        '<a class="btn btn-primary" href="javascript:void(0);" onclick="getCompetition(' + item.competitionId + ')">تعديل</a>' +
                        '<a class="btn btn-danger" href="javascript:void(0);" onclick="deletCompetition(' + item.competitionId + ')">حذف</a></td> </tr>'
                });
                
                $("#Data").html(html)

            }


        });
    }
    function AddCompetition() {

        var Name = $('#Name').val();
        var Race = $('#select-one').val();

        $('.error').hide();
        if (Name == "" || Name == null) {
            $('#NameError').show();
        }

        else {


            $.ajax({
                url: "/Game/AddCompetition?CompetitionName=" + Name + "&RaceId=" + Race,
                type: "POST",
                success: function (result) {

                    if (result == true) {
                        swal("تم الحفظ بنجاح", "", "success");
                        $('#Name').val("");
                        $('#select-one').val(-1);

                        LoadALLCompetition();
                    }
                    else {
                        swal("حدث خطأ", "", "error");
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }

    }
    function getCompetition(id) {
        console.log(id);
        $.ajax({
            url: "/Game/GetCompetitionById?CompetitionId=" + id,
            type: "GET",

            dataType: "json",
            success: function (result) {

                console.log(result);
                $('#hidnId').val(id);
                $('#Name').val(result.competitionName);
                $('#select-one').val(result.raceId)
                $('#add').hide();
                $('#edit').show();

            }


        });




    }
    function updateCompetition() {
        var id = $('#hidnId').val();
        var Name = $('#Name').val();
        var Race = $('#select-one').val();
        $.ajax({
            url: "/Game/UpdateCompetitionById?Id=" + id + "&Name=" + Name + "&RaceId=" + Race,
            type: "POST",

            dataType: 'json',

            success: function (result) {

                if (result == true) {
                    swal("تم الحفظ بنجاح", "", "success");
                    $('#Name').val("");
                    $('#select-one').val(-1)
                    LoadALLCompetition();
                    $('#add').show();
                    $('#edit').hide();
                }
                else {
                    swal("حدث خطأ", "", "error");
                }
            }
        });
    }
    function deletCompetition(id) {
        swal({
            title: 'هل انت متأكد؟',
            text: "اذا قمت بمسح هذا لن تستطيع استرجاعه ثانيتا!",
            icon: 'warning',
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/Game/DeletCompetition?CompetitionId=" + id,
                        type: "POST",
                        dataType: 'json',
                        success: function (result) {

                            if (result == true) {
                                swal("تم الحذف بنجاح", {
                                    icon: "success",
                                });
                                LoadALLCompetition();
                            }
                            else {
                                swal("حدث خطا او تم استخدام البيانات من قبل", "", "error");
                            }
                        }
                    });
                  
                }
            });
    }

    

</script>

