
@{
    ViewData["Title"] = "Main";
}

<form class="">
    <div class="form-row">
        <a class="btn btn-lg btn-primary col-md-5" >اللاعبين</a>
        <div class="form-group col-md-2"></div>
        <a asp-action="NewGame" asp-controller="Game" class="btn btn-lg btn-primary col-md-5" type="reset">الألعاب</a>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <button class="btn btn-lg btn-primary col-md-5" type="submit">الموظفين</button>
        <div class="form-group col-md-2"></div>
        <button class="btn btn-lg btn-primary col-md-5" type="reset">البطولات</button>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <button class="btn btn-lg btn-primary col-md-5" type="submit">المدربين</button>
        <div class="form-group col-md-2"></div>
        <button class="btn btn-lg btn-primary col-md-5" type="reset">العهد والمخازن</button>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <button class="btn btn-lg btn-primary col-md-5" type="submit">صادر ووارد</button>
        <div class="form-group col-md-2"></div>
        <button class="btn btn-lg btn-primary col-md-5" type="reset">الإستعلام</button>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
</form>

