@{ ViewData["Title"] = "تفاصيل موظف";
}

<input type="hidden" id="hdnempId" value="@ViewBag.empId" />
<form class="Form">
    <div class="mx-auto text-center my-4">
        <h2 class="my-3">تفاصيل موظف  </h2>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="text-one">اسم الموظف</label>
            <input readonly type="text" id="name" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="text-two">المسمى الوظيفي</label>
            <input readonly type="text" id="jopname" class="form-control">
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="file-one">صورة الموظف</label>
            <input readonly type="file" id="file-one" class="form-control-file">
        </div>
        <div class="form-group col-md-6">
            <label for="file-two">مدنية الموظف</label>
            <input readonly type="file" id="file-two" class="form-control-file">
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="file-three">صورة الجواز</label>
            <input readonly type="file" id="file-three" class="form-control-file">

        </div>
        <div class="form-group col-md-6">
            <label for="date-input-one">تاريخ الميلاد </label>
            <div class="input-group">
                <input readonly type="text" class="form-control drgpicker" id="date-input-two" value="" aria-describedby="button-addon2">
                <br />

                <div class="input-group-append">
                    <div class="input-group-text" id="button-addon-date">
                        <span class="fe fe-calendar fe-16"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="date-input-one">تاريخ انتهاء الجواز</label>
            <div class="input-group">
                <input readonly type="text" class="form-control drgpicker" id="date-input-one" value="" aria-describedby="button-addon2">
                <br />

                <div class="input-group-append">
                    <div class="input-group-text" id="button-addon-date">
                        <span class="fe fe-calendar fe-16"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="text-three">رقم الجواز</label>
            <input readonly type="text" id="passnumber" class="form-control">

        </div>
        <div class="form-group col-md-6">
            <label for="select-one">الجنسية</label>
            <select readonly class="form-control " id="nationality">
            </select>

        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="text-four">الرقم المدنى</label>
            <input readonly type="text" id="CivilianNumber" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="text-five">عنوان السكن</label>
            <input readonly type="text" id="Address" class="form-control">
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="check-one">الحالة الإجتماعية</label>
            <div class="d-flex flex-wrap align-items-center" id="check-one">
                <div class="custom-control custom-radio">
                    <input readonly value="متزوج" type="radio" id="one" name="MaritalStatus" class="custom-control-input">
                    <label class="custom-control-label" for="one">متزوج</label>
                </div>
                <div class="custom-control custom-radio">
                    <input readonly type="radio" id="two" value="أعزب" name="MaritalStatus" class="custom-control-input" checked>
                    <label class="custom-control-label" for="two">أعزب</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="check-two">نوع الدوام</label>
            <div class="d-flex flex-wrap align-items-center" id="check-two">
                <div class="custom-control custom-radio">
                    <input readonly value="نصف دوام" type="radio" id="three" name="TimeType" class="custom-control-input">
                    <label class="custom-control-label" for="three">نصف دوام</label>
                </div>
                <div class="custom-control custom-radio">
                    <input readonly value="دوام كامل" type="radio" id="four" name="TimeType" class="custom-control-input" checked>
                    <label class="custom-control-label" for="four">دوام كامل</label>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <p class="col-12 font-weight-bold">الهواتف</p>
        <div class="form-group col-md-6">
            <label for="text-six">الموبايل</label>
            <input readonly type="text" id="PhoneNumber" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="text-seven">المنزل</label>
            <input readonly type="text" id="HomeNumber" class="form-control">

        </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
        <div class="d-flex flex-wrap align-items-center">
            <label class="m-0 mr-3" for="name">حالة الموظف</label>
            <div class="custom-control custom-radio">
                <input readonly type="radio" id="status_active" value="1" name="Active" class="custom-control-input" checked>
                <label class="custom-control-label" for="status_active">فعّال</label>
            </div>
            <div class="custom-control custom-radio">
                <input readonly type="radio" id="status_not_active" value="0" name="Active" class="custom-control-input">
                <label class="custom-control-label" for="status_not_active">غير فعّال</label>
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
        <label class="" for="text-nine">ملاحظات</label>
        <textarea readonly id="notes" name="Notes" class="form-control" cols="30" rows="5"></textarea>
    </div>
    <hr class="my-2">
    <div class="text-center">
        <button class="btn btn-lg btn-primary " onclick="editEmp(@ViewBag.empId);" type="button">تعديل</button>
        <button class="btn btn-lg btn-secondary " onclick="back()" type="button">رجوع</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
    </div>
    
</form>
<script>
    $(document).ready(function () {
        LoadALLNationality();
        Getemp();
    });
    function LoadALLNationality() {
        $.ajax({
            url: "/Coach/GetAllNationality",
            type: "GET",

            dataType: "json",
            success: function (result) {
                debugger;
                var html = '<option value="-1">اختر جنسية</option>';
                $.each(result, function (key, item) {

                    html += '<option value="' + item.nationalityId + '">' + item.nationalityName + '</option>';

                });

                $("#nationality").html(html)

            }


        });
    }
    function Getemp() {

        var empId = $('#hdnempId').val();
        $.ajax({
            url: "/Empolyee/GetEmpById?empId=" + empId,
            type: "GET",
            dataType: "json",
            success: function (result) {
                $('#name').val(result.empName);
                $('#jopname').val(result.jopName);
                $('#date-input-one').val(result.passportExpDate);
                $('#passnumber').val(result.passportNumber);
                $('#nationality').val(result.nationalityId);
                $('#date-input-two').val(result.birthdate);
                result.maritalStatus == "متزوج" ? $("#one").prop("checked", true) : $("#two").prop("checked", true);
                result.timeType == "نصف دوام" ? $("#three").prop("checked", true) : $("#four").prop("checked", true);
                result.active == 1 ? $("#status_active").prop("checked", true) : $("#status_not_active").prop("checked", true);
                $('#CivilianNumber').val(result.civilianNumber);
                $('#Address').val(result.address);
                $('#PhoneNumber').val(result.phoneNumber);
                $('#HomeNumber').val(result.homeNumber);
                $('#notes').val(result.notes);

            }
        });
    }
    function editEmp(id) {

        window.location.href = "/Empolyee/EditEmployee?empId=" + id;
    }
    function back() {

        window.location.href = "/Empolyee/Index";
    }
</script>
