
@{
    ViewBag.Titel = "البطولات";
}

<form class="">
    <div class="mx-auto text-center my-4">
        <h2 class="my-3">البطولات</h2>
    </div>
    <hr class="my-2">
    <a asp-action="ChampionshipForm" class="btn btn-lg btn-primary btn-block" >بطولة جديدة</a>
    <hr class="my-2">
    <a asp-action="ChampionshipStatus" class="btn btn-lg btn-primary btn-block" >حالة البطولات</a>
    <hr class="my-2">
    <a asp-action="ChampionshipQuery" class="btn btn-lg btn-primary btn-block" >الإستعلام</a>
    <hr class="my-2">
    <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
</form>

