
<input type="hidden" id="hdnplayerIdId" value="@ViewBag.playerId" />
<form class="Form" asp-controller="Player" asp-action="PlayerForm" enctype="multipart/form-data" method="post">
    <div class="mx-auto text-center my-4">
        <h2 class="my-3">تسجيل لاعب جديد </h2>
    </div>
    <div class="form-group">
        <label for="text-one">اسم اللاعب</label>
        <input readonly type="text" id="name" class="form-control">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="text-two">رقم العضوية</label>
            <input readonly type="text" id="memberId" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="text-three">رقم الجواز</label>
            <input readonly type="text" id="passnumber" class="form-control">
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="date-input-one">تاريخ انتهاء الجواز</label>
            <div class="input-group">
                <input readonly name="PassportExpDate" type="text" class="form-control drgpicker" id="PassportExpDate" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <div class="input-group-text" id="button-addon-date">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="file-one">صورة الجواز</label>
            <div class="d-flex align-items-center ">
                <img class="rounded-circle m-2" id="imageUpload1img" style="display:none" src="" alt="img" width="150" height="150" />
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="file-two">صورة اللاعب</label>
            <div class="d-flex align-items-center ">
                <img class="rounded-circle m-2" id="imageUpload2img" src="" alt="img" width="150" height="150" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="file-three">مدنية اللاعب</label>
            <div class="d-flex align-items-center ">
                <img class="rounded-circle m-2" id="imageUpload3img" src="" alt="img" width="150" height="150" />
            </div>


        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="date-input-three">تاريخ ميلاد</label>
            <div class="input-group">
                <input readonly name="BirthOfDate" type="text" class="form-control drgpicker" id="BirthOfDate" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <div class="input-group-text" id="button-addon-date">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="file-four">شهادة الميلاد</label>
            <div class="d-flex align-items-center ">
                <img class="rounded-circle m-2" id="imageUpload4img" src="" alt="img" width="150" height="150" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="file-five"> تقرير طبي</label>
            <div class="d-flex align-items-center ">
                <img class="rounded-circle m-2" id="imageUpload5img" src="" alt="img" width="150" height="150" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="file-six">شهادة إعاقة</label>
            <div class="d-flex align-items-center ">
                <img class="rounded-circle m-2" id="imageUpload6img" src="" alt="img" width="150" height="150" />
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="select-one">الجنسية</label>
            <select readonly disabled class="form-control " id="nationality">
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="check-one">الحالة الإجتماعية</label>
            <div class="d-flex flex-wrap align-items-center">
                <div class="custom-control custom-radio">
                    <input readonly disabled value="متزوج" type="radio" id="one" name="MaritalStatus" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio-one">متزوج</label>
                </div>
                <div class="custom-control custom-radio">
                    <input readonly disabled value="اعزب" type="radio" id="two" name="MaritalStatus" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadio-two">أعزب</label>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="text-four">الرقم المدنى</label>
            <input readonly type="text" id="CivilianNumber" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="text-five">مكان العمل</label>
            <input readonly type="text" id="WorkPlace" class="form-control">
        </div>
    </div>
    <hr class="col-12">
    <div class="d-flex flex-wrap w-100">
        <p class="col-12 font-weight-bold">عنوان السكن</p>
        <div class="form-group col-md-6">
            <label for="text-six">	المحافظة</label>
            <input readonly type="text" id="Governorate" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="text-seven"> المنطقة</label>
            <input readonly type="text" id="Regain" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="text-eight">			قطعة</label>
            <input readonly type="text" id="Plot" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="text-nine">			جادة</label>
            <input readonly type="text" id="Gada" class="form-control">
        </div>
    </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="d-flex flex-wrap w-100">
            <p class="col-12 font-weight-bold"> هواتف</p>
            <div class="form-group col-md-6">
                <label for="text-ten">		الوالد</label>
                <input readonly type="text" id="ParentNumber" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="text-eleven">			المنزل</label>
                <input readonly type="text" id="HomeNumber" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="text-twelve">				الموبايل</label>
                <input readonly type="text" id="PhoneNumber" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="text-thirteen">				اخرى</label>
                <input readonly type="text" id="OtherNumber" class="form-control">

            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
        <div class="d-flex flex-wrap align-items-center">
            <label class="m-0 mr-3" for="name">حالة اللاعب</label>
            <div class="custom-control custom-radio">
                <input readonly disabled value="1" type="radio" id="status_active" name="Active" class="custom-control-input">
                <label class="custom-control-label" for="status_active">فعّال</label>
            </div>
            <div class="custom-control custom-radio">
                <input readonly disabled value="0" type="radio" id="status_not_active" name="Active" class="custom-control-input" checked>
                <label class="custom-control-label" for="status_not_active">غير فعّال</label>
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
        <label class="" for="text-fourteen">توصية الدكتور </label>
        <textarea readonly name="" class="form-control" id="DocRecommendation" cols="30" rows="5"></textarea>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="select-three"> الفئة</label>
            <select readonly disabled class="form-control " id="class">
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="text-fifteen">الإعاقة</label>
            <input readonly type="text" id="Disabality" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="date-input-one">تاريخ التسجيل</label>
            <div class="input-group">
                <input readonly name="RegDate" type="text" class="form-control drgpicker" id="RegDate" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <div class="input-group-text" id="button-addon-date">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-2">
    <div class="form-group">
        <label class="" for="check-one"> اللعبة </label>
        @foreach (var item in ViewBag.Games)
        {
            <div class="custom-control custom-checkbox">
                <input readonly disabled name="GameIds" class="custom-control-input" type="checkbox" value="@item.GameId" id="chec_@item.GameId">
                <label class="custom-control-label" for="chec_@item.GameId"> @item.GameName</label>
            </div>
        }
        

    </div>
    <hr class="my-2">
    <div class="form-group">
        <label class="" for="text-sixteen"> ملاحظات </label>
        <textarea readonly name="Notes" class="form-control" id="notes" cols="30" rows="5"></textarea>
    </div>
    <a class="btn btn-lg btn-primary " asp-action="EditPlayer" asp-route-PlayerId="@ViewBag.playerId">تعديل</a>
    <a class="btn btn-lg btn-secondary " asp-action="Index">رجوع</a>
    <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
</form>
<script>
    $(document).ready(function () {
        LoadALLNationality();
        LoadALLClass();
        GetPlayer();
    });
    function LoadALLNationality() {
        $.ajax({
            url: "/Coach/GetAllNationality",
            type: "GET",

            dataType: "json",
            success: function (result) {
                debugger;
                var html = '<option value="-1">اختر جنسية</option>';
                $.each(result, function (key, item) {

                    html += '<option value="' + item.nationalityId + '">' + item.nationalityName + '</option>';

                });

                $("#nationality").html(html)

            }


        });
    }
    function LoadALLClass() {
        $.ajax({
            url: "/Game/GetAllClass",
            type: "GET",

            dataType: "json",
            success: function (result) {
                debugger;
                var html = '<option value="-1">اختر فئة</option>';
                $.each(result, function (key, item) {

                    html += '<option value="' + item.classId + '">' + item.className + '</option>';

                });

                $("#class").html(html)

            }


        });
    }
    function GetPlayer() {

        var playerId = $('#hdnplayerIdId').val();
        $.ajax({
            url: "/Player/GetPlayerById?PlayerId=" + playerId,
            type: "GET",
            dataType: "json",
            success: function (result) {
                $('#name').val(result.playerName);
                $('#WorkPlace').val(result.workPlace);
                $('#memberId').val(result.memberId);
                $('#PassportExpDate').val(result.passportExpDate);
                $('#passnumber').val(result.passportNum);
                $('#nationality').val(result.nationalityId);
                $('#BirthOfDate').val(result.birthOfDate);
                result.maritalStatus == "متزوج" ? $("#one").prop("checked", true) : $("#two").prop("checked", true);
                result.active == 1 ? $("#status_active").prop("checked", true) : $("#status_not_active").prop("checked", true);
                $('#CivilianNumber').val(result.civilianNumber);
                $('#Governorate').val(result.governorate);
                $('#Regain').val(result.regain);
                $('#Plot').val(result.plot);
                $('#Gada').val(result.gada);
                $('#ParentNumber').val(result.parentNumber);
                $('#OtherNumber').val(result.otherNumber);
                $('#DocRecommendation').val(result.docRecommendation);
                $('#class').val(result.classId);
                $('#Disabality').val(result.disabality);
                $('#PhoneNumber').val(result.phoneNumber);
                $('#HomeNumber').val(result.homeNumber);
                $('#notes').val(result.notes);
                $('#RegDate').val(result.regDate);
                
                document.getElementById('imageUpload1img').src = "/Images/Player/" + result.playerImageStr
                document.getElementById('imageUpload2img').src = "/Images/Player/" + result.playerCityImgStr
                document.getElementById('imageUpload3img').src = "/Images/Player/" + result.passportImgStr
                document.getElementById('imageUpload4img').src = "/Images/Player/" + result.birthOfDateImageStr
                document.getElementById('imageUpload5img').src = "/Images/Player/" + result.medicalReportImgStr
                document.getElementById('imageUpload6img').src = "/Images/Player/" + result.disableImgStr
                $.each(result.gameIds, function (key, item) {
                    $("#chec_" + item).prop("checked", true)
                });
            }
        });
    }
    //function editEmp(id) {

    //    window.location.href = "/Empolyee/EditEmployee?empId=" + id;
    //}
    function back() {

        window.location.href = "/Empolyee/Index";
    }
</script>
