@{ ViewData["Title"] = "مدرب جديد";
}

<form name="form" action="AddCoach" enctype="multipart/form-data" method="post">
    <div class="mx-auto text-center my-4">
        <h2 class="my-3">تسجيل مدرب جديد </h2>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="text-one">اسم المدرب</label>
            <input type="text" id="name" class="form-control">
            <small id="nameError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون اسم</small>
        </div>
        <div class="form-group col-md-6">
            <label for="text-two">صورة المدرب</label>
            <input type="file" name="file" id="imageUpload1" class="form-control-file">
            <small id="imageUpload1Error" style="display:none" class="text-danger  error"> لايمكنك الاضافة بدون صورة المدرب</small>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="file-one">مدنية المدرب</label>
            <input type="file" id="imageUpload2" class="form-control-file">
            <small id="imageUpload2Error" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون صورة مدنية</small>
        </div>
        <div class="form-group col-md-6">
            <label for="file-two">صورة الجواز</label>
            <input type="file" id="imageUpload3" class="form-control-file">
            <small id="imageUpload3Error" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون صورة الجواز</small>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="date-input-one">تاريخ انتهاء الجواز</label>
            <div class="input-group">
                <input type="text" class="form-control drgpicker" id="date-input-one" value="" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                </div>
                <small id="date-input-oneError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون تاريخ انتهاء الجواز</small>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="text-three">رقم الجواز</label>
            <input type="text" id="passnumber" class="form-control">
            <small id="passnumberError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون رقم الجواز</small>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="select-one">الجنسية</label>
            <select class="form-control " id="nationality">
            </select>
            <small id="nationalityError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون الجنسية</small>
        </div>
        <div class="form-group col-md-6">
            <label for="date-input-two">تاريخ ميلاد</label>
            <div class="input-group">
                <input type="text" class="form-control drgpicker" id="date-input-two" value="" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                </div>
                <small id="date-input-twoError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون تاريخ الميلاد</small>
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="check-one">الحالة الإجتماعية</label>
            <div class="d-flex flex-wrap align-items-center" id="check-one">
                <div class="custom-control custom-radio">
                    <input type="radio" id="one" name="first" value="متزوج" class="custom-control-input">
                    <label class="custom-control-label" for="one">متزوج</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="two" name="first" value="أعزب" class="custom-control-input" checked>
                    <label class="custom-control-label" for="two">أعزب</label>

                </div>
            </div>
            <small id="oneError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون الحالة الاجتماعية</small>
        </div>
        <div class="form-group col-md-6">
            <label for="check-two">نوع الدوام</label>
            <div class="d-flex flex-wrap align-items-center" id="check-two">
                <div class="custom-control custom-radio">
                    <input type="radio" id="three" name="second" value="نصف دوام" class="custom-control-input">
                    <label class="custom-control-label" for="three">نصف دوام</label>

                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="four" name="second" value="دوام كامل" class="custom-control-input" checked>
                    <label class="custom-control-label" for="four">دوام كامل</label>
                </div>
            </div>
            <small id="secondError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون نوع الدوام</small>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="text-four">الرقم المدنى</label>
            <input type="text" id="CivilianNumber" class="form-control">
            <small id="CivilianNumberError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون الرقم المدني</small>
        </div>
        <div class="form-group col-md-6">
            <label for="text-five">عنوان السكن</label>
            <input type="text" id="Address" class="form-control">
            <small id="AddressError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون عنوان السكن</small>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <p class="col-12 font-weight-bold">الهواتف</p>
        <div class="form-group col-md-6">
            <label for="text-six">الموبايل</label>
            <input type="text" id="PhoneNumber" class="form-control">
            <small id="PhoneNumberError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون الموبايل</small>
        </div>
        <div class="form-group col-md-6">
            <label for="text-seven">المنزل</label>
            <input type="text" id="HomeNumber" class="form-control">
        </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
        <div class="d-flex flex-wrap align-items-center">
            <label class="m-0 mr-3" for="name">حالة اللاعب</label>
            <div class="custom-control custom-radio">
                <input type="radio" id="status_active" value="1" name="status" class="custom-control-input" checked>
                <label class="custom-control-label" for="status_active">فعّال</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="status_not_active" value="0" name="status" class="custom-control-input" >
                <label class="custom-control-label" for="status_not_active">غير فعّال</label>
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
        <label class="" for="text-eight">ملاحظات</label>
        <textarea id="notes" name="" class="form-control" cols="30" rows="5"></textarea>
    </div>
    <hr class="my-2">
    <button class="btn btn-lg btn-primary btn-block" onclick="AddCoach();" type="button">حفظ</button>
    <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
</form>
<script>
    $(document).ready(function () {
        LoadALLGames();
        LoadALLNationality();
    });
    function LoadALLGames() {
        $.ajax({
            url: "/Game/GetAllGames",
            type: "GET",

            dataType: "json",
            success: function (result) {

                var html = '<option value="-1">اختر منافسة</option>';
                $.each(result, function (key, item) {

                    html += '<option value="' + item.gameId + '">' + item.gameName + '</option>';

                });
                $("#games").html(html);
            }

        });
    }
    function AddCoach() {
        var name = $('#name').val();
        var exppass = $('#date-input-one').val();
        var passnumber = $('#passnumber').val();
        var nationality = $('#nationality').val();
        var databirth = $('#date-input-two').val();
        var status = $('input[name="first"]:checked').val();
        var timetype = $('input[name="second"]:checked').val();
        var Active = $('input[name="status"]:checked').val();
        var CivilianNumber = $('#CivilianNumber').val();
        var Address = $('#Address').val();
        var PhoneNumber = $('#PhoneNumber').val();
        var HomeNumber = $('#HomeNumber').val();
        var games = $('#games').val();
        var notes = $('#notes').val();
        debugger;
        var formData = new FormData();
        var totalFiles1 = document.getElementById("imageUpload1").files.length;        
        var totalFiles2 = document.getElementById("imageUpload2").files.length;       
        var totalFiles3 = document.getElementById("imageUpload3").files.length;
        $('.error').hide();
        if (name == "" || name == null) {
            $('#nameError').show();
        }
        else if (totalFiles1 <= 0 || totalFiles1 == null) {
            $('#imageUpload1Error').show();
        }
        else if (totalFiles2 <= 0 || totalFiles2 == null) {
            $('#imageUpload2Error').show();
        }
        else if (totalFiles3 <= 0 || totalFiles3 == null) {
            $('#imageUpload3Error').show();
        }
        else if (exppass == "" || exppass == null) {
            $('#date-input-oneError').show();
        }
        else if (passnumber == "" || passnumber == null) {
            $('#passnumberError').show();
        }
        else if (nationality == -1 || nationality == null) {
            $('#nationalityError').show();
        }
        else if (databirth == "" || databirth == null) {
            $('#date-input-twoError').show();
        }
        else if (CivilianNumber == "" || CivilianNumber == null) {
            $('#CivilianNumberError').show();
        }
        else if (Address == "" || Address == null) {
            $('#AddressError').show();
        }
        else if (PhoneNumber == "" || passnumber == null) {
            $('#PhoneNumberError').show();
        }
        else {
            formData.append("CoachName", name)
            formData.append("PassportExpDate", exppass)
            formData.append("PassportNumber", passnumber)
            formData.append("NationalityId", nationality)
            formData.append("Birthdate", databirth)
            formData.append("MaritalStatus", status)
            formData.append("TimeType", timetype)
            formData.append("Address", Address)
            formData.append("PhoneNumber", PhoneNumber)
            formData.append("HomeNumber", HomeNumber)
            formData.append("Notes", notes)
            formData.append("CivilianNumber", CivilianNumber)
            formData.append("Active", Active)
            for (var i = 0; i < totalFiles1; i++) {
                var file1 = document.getElementById("imageUpload1").files[i];
                formData.append("CoachImage", file1);
            }
            for (var i = 0; i < totalFiles2; i++) {
                var file2 = document.getElementById("imageUpload2").files[i];
                formData.append("CivilianCoach", file2);
            }
            for (var i = 0; i < totalFiles3; i++) {
                var file3 = document.getElementById("imageUpload3").files[i];
                formData.append("PassportImage", file3);
            }
            $.ajax({
                url: "/Coach/AddCoach",
                type: "POST",
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (result) {

                    if (result == true) {
                        swal("تم الحفظ بنجاح", "", "success");
                        $("form")[0].reset();
                        window.location.href = "/Coach/Index";
                    }
                    else {
                        swal("حدث خطأ", "", "error");

                    }
                }
            });
        }
        
      
    }
    function LoadALLNationality() {
        $.ajax({
            url: "/Coach/GetAllNationality",
            type: "GET",

            dataType: "json",
            success: function (result) {
                var html = '<option value="-1">اختر جنسية</option>';
                $.each(result, function (key, item) {
                   
                    html += '<option value="' + item.nationalityId + '">' + item.nationalityName + '</option>';

                });

                $("#nationality").html(html)

            }


        });
    }
</script>